{% extends "base.html" %}
{% block content %}
<div id="boxMenu">
    <a href="/reminder" class="boxItem"><span class="boxItemText">ثبت انتظار بلیط</span><span class="boxItemIcon fi-rr-time-add"></span></a>
    <a href="/waiting" class="boxItem"><span class="boxItemText">لیست انتظار شما</span><span class="boxItemIcon fi-rr-document"></span></a>
    <a href="/informing" class="boxItem"><span class="boxItemText"> پیام های ارسال شده</span><span class="boxItemIcon fi fi-rr-comment-sms"></span></a>
    <a href="" class="boxItem"><span class="boxItemText">گزارش باگ سامانه</span><span class="boxItemIcon fi-rr-bug"></span></a>
</div>
{% endblock %}